body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
}

.black{
    color: black;
}

/* BRAND NAME & STORY */
.container1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.story{
    width: 80%;
}

/* SLIDER 1 */
.container2{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    margin-top: 50px;
}

/* HIDE THE RADIO BUTTON ( DUMMY ) */
.container2 > input[type="radio"]{
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}

/* SLIDER LAYOUT */
.slider1{
    width: 1000px;
    height: 650px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    background-color: rgb(67, 69, 69);
    justify-self: center;
}

.slides{
    width: 100%;
    height: 100%;
    position: relative;
}

.slide{   
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: background 1.5s ease; /*CAN CHANGE TO OPACITY*/
}

/* SLIDER IMAGES */
.slidepicture{
    width: 100%;
    height: 100%;
    object-fit:fill;
    display: block;
    border-radius: 100px;
}

/* SLIDER BUTTONS */
.prev { left: 15px; }
.next { right: 15px; }

.prev,.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(0, 0, 0,0.4);
    padding: 6px 16px;
    border-radius: 50%;
    transition: background 0.5s;
}

.prev:hover, .next:hover{
    background-color: rgb(0,0,0,1);
    transition: 1s;
}

/* RADIO NAVIGATION */
.radionav{
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: rgb(208, 208, 208);
    width: 125px;
    border-radius: 20px;
    margin-top: 10px;
}

.radionav label{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 5px;
    transition: color 0.2s;
}

/* SHOW SELECTED SLIDE( SHOW THE IMAGES ) */
#s1-1:checked ~ .slider1 .s1-1,
#s1-2:checked ~ .slider1 .s1-2,
#s1-3:checked ~ .slider1 .s1-3,
#s1-4:checked ~ .slider1 .s1-4,
#s1-5:checked ~ .slider1 .s1-5{
    opacity: 1;
    z-index: 2;
}

/* CHANGE THE LABEL COLOR TO BLACK BY THE SELECTED SLIDE */
#s1-1:checked ~ .radionav label[for="s1-1"],
#s1-2:checked ~ .radionav label[for="s1-2"],
#s1-3:checked ~ .radionav label[for="s1-3"],
#s1-4:checked ~ .radionav label[for="s1-4"],
#s1-5:checked ~ .radionav label[for="s1-5"]{
    color: black;
}

/* LOGO, PICTURE & TEXTS FOR CONTAINER 4 */
.picture{
    grid-area: box1;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0,0.7);
    border-radius: 50px;
}

/* IMAGE SIZE */
.loc{
    width: 500px;
    height: 500px;
}

.logo , .text{
    width: 500px;
    height: 250px;
}

.logo img{
    width: 500px;
    height: 250px;
}

.logo{
    grid-area: box2;
}

.text{
    grid-area: box3;
}

.container4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box1 box3";
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.socmed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socmedlogo{
    width: 50px;
    height: 50px;
    transition: 1s ease;
}

.socmedlogo:hover{
    transform: scale(1.2);
}



/* VIEWPORT FOR 320px ( MOBILE ) */
@media (max-width: 320px) {
    .container1 {
        margin-top: 20px;
    }

    .story {
        width: 90%;
    }

    .container2 {
        margin-top: 20px;
    }

    .slider1 {
        width: 280px;
        height: 200px;
        border-radius: 20px;
    }

    .slidepicture {
        border-radius: 20px;
    }

    .prev, .next {
        font-size: 1.2rem;
        padding: 4px 10px;
    }

    .radionav label {
        font-size: 1rem;
        margin: 0 3px;
    }

    .container4 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "box1"
        "box2"
        "box3";
        gap: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .container5{
        margin-top: 100px;
    }

    .picture {
        width: 250px;
        height: 250px;
        border-radius: 20px;
    }

    .logo, .text {
        width: 250px;
        height: 125px;
    }

    .logo img {
        width: 250px;
        height: 125px;
    }
}