body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
}

.container2{
    margin-top: 80px;
}

.prod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    background-color: rgb(0, 0, 0,0.7);
    border-radius: 50px;
    color: rgb(233, 230, 230);
    font-size: 1.2rem;
    text-decoration: none;
    transition: 1s ease;
}

.prod:hover{
    background-color: rgb(0, 0, 0,0.0);
}

.category{
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
}

/* BACKGROUND IMAGE FOR THE PRODUCTS CATEGORY */
.allproducts{
    background-image: url(/Images/COLLAGE\ ALL.png);
    background-size: cover;
} 

.tshirt{
    background-image: url(/Images/COLLAGE\ SHIRTS.png);
    background-size: cover;
}

.headwear{
    background-image: url(/Images/COLLAGE\ CAPS.png);
    background-size: cover;
}

.sizechart{
    background-image: url(/Images/SIZE\ CHART.jpg);
    background-size: cover;
    transition: 1s ease;
}


.allproducts, .tshirt, .headwear, .sizechart{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
    color: white;
    border-radius: 40px;
    transition: transform 1s ease; /* FOR HOVER ANIMATION ( DURATION ) */
    transform: scale(1);
}

/* HOVER ANIMATION */
.allproducts:hover, .tshirt:hover, .headwear:hover, .sizechart:hover{
    transform: scale(1.1);
}


/* VIEWPORT FOR 320px ( MOBILE ) */
@media (max-width: 320px) {
    .container2 {
        margin-top: 40px;
    }

    .category {
        gap: 20px;
        padding: 10px 0;
    }

    .allproducts, .tshirt, .headwear, .sizechart {
        width: 280px;
        height: 150px;
        border-radius: 20px;
    }
}
