body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
}

h1{
    margin-top: 100px ;
}

/* ALL PRODUCTS */
.products img{
    display: block;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    align-self: center;
    justify-self: center;
}

/* PRODUCTS LAYOUT 4X2 GRID */
.productimage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 40px;
    background-color: rgb(168, 168, 168);
    border-radius: 100px;
    overflow: hidden;
    gap: 30px;
    margin: 50px;
}

/* PRODUCT DESIGN AND ANIMATION */
.products{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    box-shadow: 5px 3px 5px black;
    transition: transform 1s ease;
    transform: scale(1);
}

.products:hover{
    transform: scale(1.1);
    transition: 1s ease;
}


/* VIEWPORT FOR 320px ( MOBILE ) */
@media (max-width: 320px) {
    h1 {
        margin-top: 50px;
    }

    .productimage {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 20px;
        margin: 20px;
        gap: 15px;
        border-radius: 20px;
    }

    .products img {
        width: 150px;
        padding: 10px;
        border-radius: 20px;
    }

    .products {
        width: 220px;
        border-radius: 30px;
        box-shadow: 3px 2px 3px black;
        overflow: hidden;
    }
}
